<div class="mainform">

    <div class="section_white">
        <div class="maintitle" style="margin-top:130px">NFluenT</div>
        <div class="subtitle">
            An agency dedicated to the management of Non-Fungible Tokens
        </div>
    </div>


    <div class="section_grey">
        <div class="sectiontitle">
            Our mission
        </div>

        <div class="subtitle">
            We create, sell, distribute, store, manage, secure and track your digital assets.
        </div>
        <br>

        <app-graphtile [data]="tiles"></app-graphtile>

    </div>

    <div class="section_white">
        <div class="sectiontitle">HOW IT WORKS ?</div>
        <br>
    </div>


    <div class="section_grey">
        <div class="sectiontitle" style="margin-bottom: 150px">OUR VISION</div>

        <app-cursor
                style="font-size: 2.5em;font-weight: lighter;margin-top:100px;"
                pretext="We"
                cursor="|"
                [rotate]="true"
                [speed]="50"
                text="at NFLUENT have convictions about NFTs|believe that NFTs can serve the user.|believe in NFTs that make sense, that add value.|believe in NFTs that bring innovation to real life.|believe in augmented NFTs.|deliver X-NFTs.">
        </app-cursor>

    </div>


    <div class="section_white">
        <div class="sectiontitle">THE SERVICES</div>

        <app-graphtile width="400px" [data]="services"></app-graphtile>
    </div>



    <div class="section_grey">
        <div class="sectiontitle">XNFTs USEFULNESS POSITIONING</div>
        <app-scatter [data]="xnft_position"></app-scatter>
    </div>







</div>
