
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$nFluentWeb-primary: mat.define-palette(mat.$indigo-palette);
$nFluentWeb-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$nFluentWeb-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$nFluentWeb-theme: mat.define-light-theme((
  color: (
    primary: $nFluentWeb-primary,
    accent: $nFluentWeb-accent,
    warn: $nFluentWeb-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($nFluentWeb-theme);

.mainform {
  width: 100%;
  text-align: center;
}

.maintitle {
  margin:60px;
  font-size: 10em;
}

.section {
    padding: 30px;
    min-height: 400px;
}

.section_grey {
  @extend .section;
  background-color: lightgray;
}

.section_white {
  @extend .section;
  background-color: white;

}

.sectiontitle {
  font-size: 5em;
  font-variant-caps: all-small-caps;
  margin:20px;
  margin-bottom: 50px;
}

.tile_title {
  font-size: x-large;
  width:100%;
  color: black;
  margin-bottom: 10px;
  font-variant-caps: all-small-caps;
}

.tile_text {
  width:100%;
  display: inline-block;
  font-size: medium;
  color: grey;
}

.subtitle {
  font-size: larger;
  margin-bottom: 30px;
}